:root {
    --brand-green: #00856F;
    --brand-green-light: #DCE9E2;
    --brand-green-light-02: #F7F9F9;
    --brand-beige: #FFFAF1;
    --brand-green-hover: #00453A;
    --gray-headline:#212529;
    --gray-paragraph: #495057;
    --white: #EDEDED;
}

.brand-green {
    color: var(--brand-green);
}

.brand-green-light {
    color: var(--brand-green-light);
}

.brand-green-light-02 {
    color: var(--brand-green-light-02);
}

.brand-beige {
    color: var(--brand-beige);
}

.brand-green-hover {
    color: var(--brand-green-hover);
}

.gray-headline {
    color: var(--gray-headline);
}

.gray-paragraph {
    color: var(--gray-paragraph);
}

.white {
    color: var(--white);
}